<!DOCTYPE html>
<html>
  <head>
    <title>Quotey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Myan
            <br />
            Q
            <br />
            uote
          </div>
          <% end %>
      </div>

      <div class="col-4 slogan">
        Find healthy, and supporting quotes
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About us', about_path %>
      </div>
    </header>

    <hr class="clear">
    <br class="clear">

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to  "This isn't enough, I need more", root_path , class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by Thet Htut Oo
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
